{% extends "common.html" %} {% block content %}

<div class="container">
    <h2>
        Voter details
        <a href="{{ url_for('auth.logout') }}">
            <button class="btn btn-danger pull-right">
                Logout
            </button>
        </a>
    </h2>
    <table class="table table-hover">
        <tbody>
            <tr class="info">
                <td>Username</td>
                <td>{{ user.username_hash }}</td>
            </tr>
            <tr class="info">
                <td>Wallet address</td>
                <td>{{ user.wallet_address }}</td>
            </tr>
            <tr class="info">
                <td>Position</td>
                <td>{{ position.position }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Select candidate</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cast vote</th>
        </tr>
    </thead>
    <tbody>

        {% for k, v in candidates.items() %}
        <tr>
            <td>{{ v.name }}</td>
            <td>
                {% if has_voted_for_position_id %}
                <button type="button" class="btn btn-sm disabled">Voted</button>
                {% else %}
                <a href="{{ url_for('main.cast_vote', candidate_id=v.id) }}">
                    <button type="button" class="btn btn-sm btn-success">Vote</button>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

{% endblock %}