{% extends "common.html" %} {% block content %}

<div class="container">
    <h2>
        Voter details
        <a href="{{ url_for('auth.logout') }}">
            <button class="btn btn-danger pull-right">
                Logout
            </button>
        </a>
    </h2>
    <table class="table table-hover">
        <tbody>
            <tr class="info">
                <td>Username</td>
                <td>{{ user.username_hash }}</td>
            </tr>
            <tr class="info">
                <td>Wallet address</td>
                <td>{{ user.wallet_address }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Select position</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Position</th>
            <th>Position vote status</th>
        </tr>
    </thead>
    <tbody>

    {% for position in positions %}
        <tr>
            <td>{{ position.position }}</td>
            <td>
            {% if not has_voted_for_position[position.id] %}
                <button type="button" class="btn btn-sm btn-secondary" disabled>Voted</button>
            {% else %}
                <a href="{{ url_for('main.position', position_id=position.id, has_voted_for_position_id='false') }}">
                    <button type="button" class="btn btn-sm btn-success">Select</button>
                </a>
             </td>
            {% endif %}
            </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
